<div class="container">
  <ul>
    <a
      [routerLink]="''"
      routerLinkActive="active-link"
      [routerLinkActiveOptions]="{ exact: true }"
      >Dashboard</a
    >
    <a
      [routerLink]="'/Transaction'"
      routerLinkActive="active-link"
      [routerLinkActiveOptions]="{ exact: true }"
      >Add Transaction</a
    >
    <a
      [routerLink]="'/History'"
      routerLinkActive="active-link"
      [routerLinkActiveOptions]="{ exact: true }"
      >Transaction History</a
    >
  </ul>
</div>
