<div class="Balance-container">
  <h2>Current Balance</h2>
  <div class="Balance-Boxs">
    <!-- เขาติดหนี้เรา -->
    <app-balancebox
      [CurrentPersonBox]="Debter()"
      [Debter]="Debter()"
      [BGColor]="'green'"
    ></app-balancebox>
    <!-- เราติดหนี้เขา -->
    <app-balancebox
      [CurrentPersonBox]="selectedPerson()"
      [Debter]="Debter()"
      [BGColor]="'red'"
    ></app-balancebox>
  </div>
  <!-- Person1 owe person2 -->
  <p
    *ngIf="CheckDebtNetBalance() === person1; else person2Owe"
    class="Net-Balance"
  >
    Net Balance: {{ person1.name }} owe {{ person2.name }} {{ netBalance() }}฿
  </p>
  <!-- Person2 owe person1 -->
  <ng-template #person2Owe>
    <p class="Net-Balance">
      Net Balance: {{ person2.name }} owe {{ person1.name }} {{ netBalance() }}฿
    </p>
  </ng-template>
</div>
