.form-container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 500px;
  height: 500px;
  background-color: white;
  margin: 1rem 0;
}

.input-field {
  padding: 2rem;
  display: flex;
  flex-direction: column;
}
